@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@800&display=swap");

.headerBanner {
	background-color: #e7e9ee;
	display: flex;
	position: relative;
}

#headerCornerBL {
	height: 70%;
	position: absolute;
	bottom: 0;
	left: 0;
}
#headerCornerUR {
	height: 70%;
	position: absolute;
	top: 0;
	right: 0;
}

#headerLogo {
	height: 12em;
	margin-left: 1rem;
}

#headerSlogan {
	width: 100%;
	align-self: center;
	text-align: center;
	font-size: 150%;
	font-weight: bolder;
	font-family: "Montserrat", sans-serif;
	font-weight: 800;
}

/*Navigator Bar*/

.bannerNavbar {
	position: relative;
	float: right;
	display: flex;
	align-items: center;
	margin-top: -1.2rem;
	margin-bottom: 0.5rem;
}

.bannerNavbar nav {
	list-style-type: none;
	background-color: #2f3037;
	padding-right: 3rem;
	padding-left: 1rem;
	border-radius: 10px;
}

.bannerNavbar nav ul {
	display: flex;
}

.bannerNavbar nav ul li a {
	text-align: center;
	display: block;
	color: white;
	font-size: 80%;
	padding: 0.8rem;
	border-radius: 25px;
	transition: 0.5s;
	margin-right: 1rem;
	text-decoration: none;
}

.bannerNavbar nav ul li a:hover {
	color: black;
	background: white;
}

.bannerNavbar img {
	width: 3.6em;
	position: absolute;
	right: 0;
}
.headerNavbar {
	display: none;
}

@media only screen and (max-width: 720px) {
	#headerLogo {
		margin-left: 1em;
		height: 8em;
	}
	#headerSlogan {
		font-size: 120%;
	}

	@media only screen and (max-width: 425px) {
		.headerBanner {
			display: none;
		}
		.bannerNavbar {
			display: none;
		}
		.headerNavbar {
			display: flex;
		}
	}
}
