@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@800&display=swap");

.pageContent {
	min-height: 100vh;
	position: relative;
}

#backgroundCorner2L {
	height: 32vw;
	position: absolute;
	left: 0;
	bottom: 0;
}
#backgroundCorner2R {
	height: 32vw;
	position: absolute;
	right: 0;
	bottom: 0;
}

/*Search Bar*/

.searchBar {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
}

.searchBar img {
	height: 32px;
	width: 32px;
	margin-right: 6px;
}

.searchBar form {
	display: inline;
}

.searchBar form input {
	width: 36vw;
	font-size: 15px;
	border: 10px solid #e7e9ee;
	border-radius: 25px;
	background-color: #e7e9ee;
	text-align: center;
}

/*Highlight Category*/

.highlightConteiner {
	display: flex;
	width: 100%;
}

.highlightHeader {
	float: left;
	display: flex;
	align-items: center;
}

.highlightHeader img {
	height: 6vw;
	margin: 1vw 1.5vw;
}

.highlightHeader h1 {
	font-family: "Montserrat", sans-serif;
	font-weight: 800;
	font-size: 3vw;
	text-transform: uppercase;
}

.highlightLines {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	justify-content: center;
	background-color: white;
}

#highlightLine1 {
	border: 0.4vw solid #627ea7;
	margin: 0.5vw 0;
	width: 86%;
}

#highlightLine2 {
	border: 0.4vw solid #131516;
	margin: 0.5vw 0;
	width: 94%;
}
