@import url("https://fonts.googleapis.com/css2?family=Kufam:wght@700&family=Questrial&display=swap");

#BackgroundCornerBL {
	height: 16vw;
	position: absolute;
	bottom: 0;
	left: 0;
}
#BackgroundCornerUR {
	height: 16vw;
	position: absolute;
	right: 0;
	top: 0;
}

.loginBox {
	display: flex;
	flex-direction: column;
	text-align: center;
	align-items: center;
	justify-content: center;
	height: 100vh;
}

.loginBox img {
	width: 36vw;
	margin-bottom: 2vw;
}

.loginBox p {
	font-family: "Questrial", sans-serif;
	font-size: 3.5vw;
	padding: 20px;
	margin-bottom: 2vw;
}

#loginForm {
	padding: 1vw;
	background-color: #e8e8e8;
	border: 6px solid #7a7979;
	border-radius: 50px;
}

.formInput {
	width: 36vw;
	font-size: 1vw;
	text-align: center;
	background-color: #979797;
	padding: 0.8vw;
	border: 1px solid #979797;
	border-radius: 100px;
	margin: 0.5vw;
}
::placeholder {
	color: #c7c7c8;
	opacity: 1; /* Firefox */
}
::-ms-input-placeholder {
	/* Edge 12 -18 */
	color: #c7c7c8;
}

a {
	text-decoration: none;
	color: #008bff;
}

#submitButton {
	font-size: 1.5vw;
	color: #979797;
	font-family: "Kufam", sans-serif;
	border: 1px solid #979797;
	border-radius: 100px;
	background-color: #ffffff;
	padding: 1.5vw;
	padding-bottom: 1vw;
}
