.headerNavbar {
	background-color: #e5e5e5;
	display: flex;
	align-items: center;
	padding: 0 1.5rem;
	margin-bottom: 0.5rem;
}
.headerNavbar a img {
	height: 3.6em;
}
.headerNavbar nav {
	flex: 1;
	text-align: right;
}
.headerNavbar nav ul {
	display: inline-block;
	list-style-type: none;
}
.headerNavbar nav ul li {
	display: inline-block;
	margin-right: 1rem;
}
.headerNavbar nav ul li a {
	text-decoration: none;
	color: black;
	padding: 0.6rem 1rem;
	border-radius: 25px;
	transition: 0.5s;
}

.headerNavbar nav ul li a:hover {
	color: white;
	background: grey;
}

@media only screen and (max-width: 660px) {
	.headerNavbar {
		padding: 0 1rem;
	}
	.headerNavbar nav {
		display: none;
	}
}
